@model eLibrary.ViewModels.BookFormViewModel

@{
	ViewBag.Title = "BookForm";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Id == 0)
{
	<h2 class="col-md-10"> New Book</h2>
}
else
{
	<h2 class="col-md-10"> Edit Book </h2>
}

<form asp-controller="Books" asp-action="Save" enctype="multipart/form-data" method="post">
	<div asp-validation-summary="ModelOnly">
		<span> Please fix all errors on this page. </span>
	</div>
	<div class="form-group">
		<label asp-for="Title" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="Title" class="form-control" />
			<span asp-validation-for="Title"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="Author" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="Author" class="form-control" />
			<span asp-validation-for="Author"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="Location" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="Location" class="form-control" />
			<span asp-validation-for="Location"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="PublishDate" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="PublishDate" asp-format="{0:d MMM yyyy}" class="form-control" />
			<span asp-validation-for="PublishDate"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="CategoryId" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))" class="form-control">
				<option value="">Select Category</option>
			</select>
			<span asp-validation-for="CategoryId"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="Type" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="Type" class="form-control" />
			<span asp-validation-for="Type"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="Description" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="Description" class="form-control" />
			<span asp-validation-for="Description"></span>
		</div>
	</div>
	<div class="form-group">
		<label asp-for="BookImage" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="BookImage" accept="image/*" type="file" />
		</div>
		<span asp-validation-for="BookImage" class="text-danger"></span>
	</div>
	@if (Model.Type != "hard-copy" || Model.Type != "hard copy")
	{
		<div class="form-group">
			<label asp-for="PDFFile" class="col-md-2 control-label"></label>
			<div class="col-md-10">
				<input asp-for="PDFFile" accept="application/pdf*" type="file" data-msg-accept="Please enter a PDF file." />
			</div>
			<span asp-validation-for="PDFFile" class="text-danger"></span>
		</div>
	}
	<input asp-for="Id" type="hidden" />
	<div class="col-md-10">
		<button type="submit" class="col-md-2 btn btn-primary"> Save </button>
	</div>
</form>